{% extends "base.html" %}

{% block header %}
    <title>Designing a good SQL database</title>
    <meta name="description"
    content="We need to have a good database for increasing the speed and performance of our applications. This allows our users to get faster responses, allows us to use our hardware in a more efficient manner....">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, scraping, python, scrapy, sql, database, design">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Designing a good SQL database">
  <meta name="twitter:description"
    content="We need to have a good database for increasing the speed and performance of our applications. This allows our users to get faster responses, allows us to use our hardware in a more efficient manner.... ">
    <meta property="og:title" content="Designing a good SQL database" />
    <meta property="og:description"  content="We need to have a good database for increasing the speed and performance of our applications. This allows our users to get faster responses, allows us to use our hardware in a more efficient manner...." />

{% endblock header %}

{% block content %}




<script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js" data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_z5jmv0cQK7zfKaNzr,viewportWidth:90%"></script>
{% endblock %}
