{% extends "base.html" %}

{% block header %}
    <title>Introduction to machine learning systems</title>
    <meta name="description"
    content="This article gives you a brief description of the technology of the future....">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, graphql">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Introduction to machine learning systems">
  <meta name="twitter:description"
    content="This article gives you a brief description of the technology of the future.... ">
    <meta property="og:title" content="Introduction to machine learning systems" />
    <meta property="og:description"  content="This article gives you a brief description of the technology of the future...." />

{% endblock header %}

{% block content %}

<script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js" data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_uIh5tC7Zfrrivw9Qo,viewportWidth:90%"></script>
{% endblock %}
