{% extends "base.html" %}

{% block header %}
    <title>Top 6 Ways To Create A Training Manual Template That Will Blow Your Mind!</title>
    <meta name="description"
    content="Do you want to know how to create a training manual template? Need the best solution? If yes, then keep reading.">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, training manual">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Top 6 Ways To Create A Training Manual Template That Will Blow Your Mind!">
  <meta name="twitter:description"
    content="Do you want to know how to create a training manual template? Need the best solution? If yes, then keep reading.">
    <meta property="og:title" content=Top 6 Ways To Create A Training Manual Template That Will Blow Your Mind!" />
    <meta property="og:description"  content="Do you want to know how to create a training manual template? Need the best solution? If yes, then keep reading." />
  <link href="https://www.docsie.io/docsie.css" rel="stylesheet">
  <link media="all" href="https://www.docsie.io/documentation/modern_docsie.css" rel="stylesheet" />
{% endblock header %}

{% block content %}

  <script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js"
    data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_EUoA2bGSW5KNIGIHS,language:false,navigation:false,version:false,viewportTop:80,viewportWidth:100%,sectionAnchor:false"></script>


{% endblock %}
