{% extends "base.html" %}

{% block header %}
    <title>Why is SOP Important</title>
    <meta name="description"
    content="You may not know it, but all companies have what is called a standard operating procedure. But what exactly is it?">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, training manual, documentation, sop">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Why is SOP Important">
  <meta name="twitter:description"
    content="You may not know it, but all companies have what is called a standard operating procedure. But what exactly is it?">
    <meta property="og:title" content="Why is SOP Important" />
    <meta property="og:description"  content="You may not know it, but all companies have what is called a standard operating procedure. But what exactly is it?" />

{% endblock header %}

{% block content %}


<script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js" data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_y6p1XQc057MqSLIJF,viewportWidth:90%"></script>
{% endblock %}
