{% extends "base.html" %}

{% block header %}
    <title>Easily create and publish dynamic software documentation</title>
    <meta name="description"
    content="Technical Documentation management platform featuring translations and versioning">
    <meta name="keywords"
    content="knowledge base, software documentation, dynamic content, wysiwyg editor,knowledge base software,simple cms,content management software">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Knowledge Base and Software Documentation management platform">
  <meta name="twitter:description"
    content="Knowledge Base and Software Documentation management platform featuring translations and versioning">
    <meta property="og:title" content="Knowledge Base and Software Documentation management platform" />
    <meta property="og:description"  content="Software Documentation management platform featuring translations and versioning" />
  <link href="https://www.docsie.io/docsie.css" rel="stylesheet">
  <link media="all" href="https://www.docsie.io/style.css" rel="stylesheet" />
{% endblock header %}

{% block content %}

<script async type="text/javascript" src="https://lib.docsie.io/1.4.5.b/service.js" data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_VwliIUN1usEyNVIwP,navigation:false"></script>
{% endblock %}
