{% extends "base.html" %}

{% block header %}
    <title>How to design and deploy graphql schema</title>
    <meta name="description"
    content="GraphQL is a Querying Language built on top of graphs, hence the name GraphQL.
    It allows the user to query what they want, almost like SQL, but with much more freedom to an extent that you could replace your REST application with it.
     But how do you go about designing a GraphQL schema?">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, graphql">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="PC-ASK How to design and deploy graphql schema">
  <meta name="twitter:description"
    content="GraphQL is a Querying Language built on top of graphs, hence the name GraphQL.
    It allows the user to query what they want, almost like SQL, but with much more freedom to an extent that you could replace your REST application with it.
     But how do you go about designing a GraphQL schema? ">
    <meta property="og:title" content="PC-ASK How to design and deploy graphql schema" />
    <meta property="og:description"  content="GraphQL is a Querying Language built on top of graphs, hence the name GraphQL.
    It allows the user to query what they want, almost like SQL, but with much more freedom to an extent that you could replace your REST application with it.
     But how do you go about designing a GraphQL schema? " />

{% endblock header %}

{% block content %}

<script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js" data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_aTgRcNOdh7mMqYB9G,viewportWidth:90%"></script>
{% endblock %}

