{% extends "base.html" %}

{% block header %}
    <title>Easily create and publish dynamic software documentation</title>
    <meta name="description"
    content="Technical Documentation management platform featuring translations and versioning">
    <meta name="keywords"
    content="knowledge base, software documentation, dynamic content, wysiwyg editor,knowledge base software,simple cms,content management software">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Knowledge Base and Software Documentation management platform">
  <meta name="twitter:description"
    content="Knowledge Base and Software Documentation management platform featuring translations and versioning">
    <meta property="og:title" content="Knowledge Base and Software Documentation management platform" />
    <meta property="og:description"  content="Software Documentation management platform featuring translations and versioning" />
  <link href="https://www.docsie.io/docsie.css" rel="stylesheet">
  <link media="all" href="https://www.docsie.io/documentation/modern_docsie.css" rel="stylesheet" />
{% endblock header %}

{% block content %}

<script async="" type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js" data-docsie="test_pk_5ygXPGT9UxZzqfkCkCnuPzuN:boo_Io89ECQ6FBxvdwO3c,navigation:true,articleDate:true,viewportWidth:100%,enumeration:true,sectionAnchor:true,version:false,language:true"></script>
{% endblock %}
