{% extends "base.html" %}

{% block header %}
    <title>Top 5 Libraries Every NLP Beginner Should Know</title>
    <meta name="description"
    content="In this article we talk about five most essential libraries every NLP beginner should be familiar with...">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, graphql">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Top 5 Libraries Every NLP Beginner Should Know">
  <meta name="twitter:description"
    content="In this article we talk about five most essential libraries every NLP beginner should be familiar with... ">
    <meta property="og:title" content="Top 5 Libraries Every NLP Beginner Should Know" />
    <meta property="og:description"  content="In this article we talk about five most essential libraries every NLP beginner should be familiar with..." />

{% endblock header %}

{% block content %}

<script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js" data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_aIgSRgOl5lHzowIk0,viewportWidth:90%"></script>
{% endblock %}
