{% extends "base.html" %}

{% block header %}
    <title>Best practices when selecting process documentation template</title>
    <meta name="description"
    content="Process documentation is integral to the success of every business. The documentation of business processes helps meet multiple needs in an organization. For instance, employee churn at the workplace sometimes exposes an organization to risks as a result of the sudden flight of resources.">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, training manual">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Best practices when selecting process documentation template">
  <meta name="twitter:description"
    content="Process documentation is integral to the success of every business. The documentation of business processes helps meet multiple needs in an organization. For instance, employee churn at the workplace sometimes exposes an organization to risks as a result of the sudden flight of resources.">
    <meta property="og:title" content="Best practices when selecting process documentation template" />
    <meta property="og:description"  content="Process documentation is integral to the success of every business. The documentation of business processes helps meet multiple needs in an organization. For instance, employee churn at the workplace sometimes exposes an organization to risks as a result of the sudden flight of resources." />
  <link href="https://www.docsie.io/docsie.css" rel="stylesheet">
  <link media="all" href="https://www.docsie.io/documentation/modern_docsie.css" rel="stylesheet" />
{% endblock header %}

{% block content %}

  <script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js"
    data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_h76Dm6ReczkTdj5Ax,language:false,navigation:false,version:false,viewportTop:80,viewportWidth:100%,sectionAnchor:false"></script>


{% endblock %}
