{% extends "base.html" %}

{% block header %}
    <title>How to use process flow document template to document your organizational process</title>
    <meta name="description"
    content="Process documentation offers mission-critical guidance and information to employees throughout the organization...">
    <meta name="keywords"
    content="tech news, technology news, startup reviews, technical writing, training manual">
   <!-- Twitter Card data -->

  <meta name="twitter:title" content="Process documentation offers mission-critical guidance and information to employees throughout the organization...">
  <meta name="twitter:description"
    content="Do you want to know how to create a training manual template? Need the best solution? If yes, then keep reading.">
    <meta property="og:title" content="How to use process flow document template to document your organizational process" />
    <meta property="og:description"  content="Process documentation offers mission-critical guidance and information to employees throughout the organization..." />
  <link href="https://www.docsie.io/docsie.css" rel="stylesheet">
  <link media="all" href="https://www.docsie.io/documentation/modern_docsie.css" rel="stylesheet" />
{% endblock header %}

{% block content %}

  <script async type="text/javascript" src="https://lib.docsie.io/1.4.5/service.js"
    data-docsie="live_pk_lmZfmYfbHfSATLaXRXjCcmAd:boo_bPCrqvyexADNDLspL,language:false,navigation:false,version:false,viewportTop:80,viewportWidth:100%,sectionAnchor:false"></script>


{% endblock %}
